/* common */
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin:0 auto;
    width: 75%;
}

/* header */
#logo{
    width: 50px;
    height: 50px;
    background-image: url(../img/Logo.png);
    display: inline-block;
}
h1{
    display: inline-block;
}

