/* common */
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#container{
    margin:0 auto;
    width: 75%;
    height: 80%;
    background-color: #F6F8F9;
}
.bottom{
    width: 100px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
    color: white;
    padding: 5px;
}
.rectangular-bottom{
    border-radius: 5%;
}
.round-bottom{
    border-radius: 25%;
    vertical-align: middle;
}
.blue-bottom{
    background-color: #46AEF0;
}
.white-bottom{
    background-color: white;
    border: 1px solid gray;
    color: gray;
}
.violet-bottom{
    background-color: #A984E7;
}
.green-bottom{
    background-color: #98D7C8;
}
.orange-bottom{
    background-color: #F29E34;
}
.red-bottom{
    background-color: #D863A1;
}
.lightgreen-bottom{
    background-color: #B0C826;
}
.mt-50{
    margin-top: 50px;
}
.mt-30{
    margin-top: 30px;
}
.inline{
    display: inline-block;
}
.check{
    color: green;
}
.cross{
    color: red;
}

/* header */
header{
    line-height: 90px;
    background-color: white;
}
#logo{
    width: 50px;
    height: 50px;
    background-image: url(../img/Logo.png);
    display: inline-block;
    vertical-align: middle;
}

/* main */
main{
    margin: 30px auto;
    width: 85%;
    height: 80%;
    background-color: white;
    padding: 20px 40px 20px 40px;
}
.line{
    line-height: 30px;
}